*.txt
*.csv
*.inter
!images/
*.png
data/
*.pth
*.pt
__pycache__/
wandb/

#ignore nohup.out file
nohup.out

del.ipynb
dummy.ipynb
helper.ipynb
# ignore all the files starting with slurm-%j.out
slurm-*.out

termresults/